@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Fascinate", cursive;
    font-size: 20px;
    background-color: aquamarine;
}

button,
.outer-display {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e;
}

.calculator {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e,
        6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e, 9px -9px #3e3e3e, 10px -10px #3e3e3e;
}
